.hero-bg {
	background-image: url("../../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 97.9vw;
	height: 100vh;
	color: white;
	padding-top: 170px;
	padding-left: 120px;
}

.contact-me-btn {
	background-color: transparent;
	color: white;
	padding: 2vw;
	font-size: 2.5vw;
	margin-top: 2.5vw;
	border: 4px solid white;
	cursor: pointer;
}

.contact-me-btn:hover {
	background-color: white;
	color: black;
}
